.hero {
	padding: 30px 0px 60px;
	background: url('../img/sensualbg.jpg') repeat center center;
	.background-size(cover);
	border-bottom: 1px solid @textColor;

  .navbar .nav li a {
    padding: 10px 8px 10px;
  }
	
	.marketing {
		margin: 10px -20px 0px -20px;		

		h1, h2, h3, h4, h5, h6, p {
			color: #ffffff;
			text-align: center;			
			display: block;
			margin: 10px auto;
		}
    
    h1.logo {
      color: white;
      font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, cursive;
      span {
        font-size: 28px;
        padding-left: 2px;
      }
      margin-bottom: 40px;
    }

		h1.headline {			
			color: #ffffff;
			font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
			letter-spacing: -1px;
			text-transform: none;
      font-style: italic;
			font-size: 60px;
			line-height: 55px;
      margin-bottom: 40px;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
		}
    
    h1.subtitle {
			color: #ffffff;
			font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
			letter-spacing: -1px;
			text-transform: none;
      font-style: italic;
			font-size: 35px;
			line-height: 42px;
      margin-bottom: 50px;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  
    }
    

    /*ul.quote {
      text-align: center;
      color: #fff;
      list-style-type: none;
      margin-left: 0px;
      li {
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-style: italic;
        padding-bottom: 20px;
        font-size: 22px;
        letter-spacing: -0.04em;
        line-height: 1em;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
        span {
          font-size: 14px;
          letter-spacing: 0px;
			    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
      }

    }*/

		p.call-to-action {
			text-align: center;
			margin-top: 20px;			
			float: none;

			/*a.btn {
				margin-right: 20px;
			}*/
      
      a.btn-bordered {
        background: transparent; 
        background-color: transparent;
        background-image: none;
        border: 2px solid @textColorGray;
        color: white;
        
        span {
          text-decoration: line-through;
        }
      }
    
		}

    p.text-center {
      margin-bottom: 0px;      
    }
    
	}

	div.row {
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0px;
		}
	}
}

.block {
	padding: 60px 0px;
	border-bottom: 1px solid @lightBorderColor;
	
	h1, h2, h3, h4, h5, h6 {		
    font-style: italic;
    
		&.headline {
			text-align: center;	
			display: block;
			margin: 10px auto;
		}
	}	
  
  h1.headline {
    text-transform: none;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  h2.headline {
    text-transform: none;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  h3.headline {
    text-transform: none;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  h4.headline {
    text-transform: none;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-style: italic;
  }

	img.highlight {
		display: block;
		margin: 0px auto;
	}

	p.headline-caption {
		text-align: center;
		display: block;
		margin: 10px auto;
		font-size: @baseFontSize;
		line-height: @baseLineHeight;
		color: lighten(@textColor, 10%);
	}

	div.row {
		margin-bottom: 50px;

		&:last-of-type {
			margin-bottom: 0px;
		}
	}

	&.alt {
		background-color: @lightBackgroundColor;
	}
  
  &.alt-quote1 {
    background: url('../img/hands-color-2.jpg') repeat center center; 
    .background-size(cover);
    
    h2 {
      font-family: 'Lato', sans-serif;
      font-weight: 600;
      color: white;
      text-align: center;
      text-transform: none;
      font-style: italic;
      text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
      small {
        color: white;
      }
    }
  }
  
  &.alt-quote2 {
    background: url('../img/blindfoldedwoman.jpg') repeat center center; 
    .background-size(cover);
    
    h2 {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      text-align: center;
      color: white;
      text-transform: none;
      font-style: italic;
    }
  }

  &.alt-quote3 {
    background: url('../img/earwhisper.jpg') repeat center center; 
    .background-size(cover);
    
    h2 {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      text-align: center;
      color: white;
      text-transform: none;
      font-style: italic;
    }
  }
  /* being used on sales page */
  &.alt-quote4 {
    background: url('../img/icebelly.jpg') repeat center center; 
    .background-size(cover);
    
    h2 {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      text-align: center;
      color: white;
      text-transform: none;
      font-style: italic;
      text-shadow: 0 1px 1px rgba(0,0,0,0.5);
      small {
        color: white;
      }
    }
  }
  
	&.maps {
		padding: 0px;
		margin-bottom: -6px;	

		.map {
			width: 100%;
			height: 350px;
		}		
	}
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

.press {
    h2 {
      letter-spacing: 0px;
			text-transform: none;
      font-style: italic;
			font-size: 20px;
      font-weight: 300;
    }
    
    .outlet {
      text-align: center; 
      padding-bottom: 25px;
      img {
        vertical-align: middle;
      }
      h2 {
        /*padding-left: 25px;*/
        vertical-align: middle;
      }
      
    }
}

.intro {
    ul {
      text-align: center;
      list-style-type: none;
      margin-left: 0px;
      li {
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-style: italic;
        padding-bottom: 20px;
        font-size: 22px;
        letter-spacing: -0.04em;
        line-height: 1em;
      }
    }
    
    p {
        text-align: center;
    }
    h3 {
        line-height: 30px;
    }
    i {
      text-align: center;
      display: block;
    }
}

.case-study {
  h4 {
    font-weight: 100;
  }
}


.scenarios {

  h2 {
    padding-bottom: 30px;
  }
  
  h3 {
    line-height: 1.2em;
  }
  
  .label {
    padding: 8px;
    margin-bottom: 5px;
  }
  
  .tags {
    padding-bottom: 20px;
  }
  .player {
    padding-bottom: 20px;
  }
  p {
    padding: 10px;
  }
}

.benefits {
  
  h3 {
    margin-left: 2em;
  }
  
  li { 
    display: block;
    font-size: 16px;
    padding-left: 10px;
    line-height: 1.5em;
    padding-left: 0px;
  }
  
  span {
    padding-left: 10px;
  }
}

.principles {
  h2 {
    padding-bottom: 20px;
  }
  h3 {
    padding-top: 20px;
    line-height: 1em;
  }
}

#subscribe .info {
  h4 {
    padding-bottom: 0px;
    padding-top: 0px;
    line-height: normal;
    margin: 0px;
  }
  
  em {
    text-decoration: underline;
  }
}

.share-bc { 
  h4 {
    display: inline-block;
    padding-right: 15px;
  }
  div.addthis-wrapper {
    display: inline-block;
    padding-top: 10px;
  }
  div.addthis_toolbox {
    display: inline-block;
  }
}

.faq {
  h2 {
    padding-bottom: 20px;
  }
  h3 {
    padding-top: 20px;
    line-height: 1em;
  }
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px 25px 25px;
    text-align: center;
    display: block;
}

.box-image {
    background: url('../img/hands-color.jpg') repeat center center; 
    .background-size(cover);
    height: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: rgba(0,0,0,0);
}

.box-image2 {
    background: url('../img/icebelly.jpg') repeat center center; 
    .background-size(cover);
    height: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: rgba(0,0,0,0);
}

.box-image3 {
    background: url('../img/shh.jpg') repeat center center; 
    .background-size(cover);
    height: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: rgba(0,0,0,0);
}

.box-image4 {
    background: url('../img/candles.jpg') repeat center center; 
    .background-size(cover);
    height: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: rgba(0,0,0,0);
}

.box-image5 {
    background: url('../img/couple_kissing.jpg') repeat center center; 
    .background-size(cover);
    height: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: rgba(0,0,0,0);
}

.box-image6 {
    background: url('../img/woman-rose.jpg') repeat center center; 
    .background-size(cover);
    height: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: rgba(0,0,0,0);
}
/*
.box-bottom-noshadow {
    box-shadow: none !important;
}*/


.box-with-icon {
    margin-top: 50px;
    background-color: white;
    h2 {
      font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
      text-transform: none;
      letter-spacing: -1px;
      font-style: italic;
      font-size: 40px;
      font-weight: 100;
      line-height: 50px;
      padding-bottom: 20px;
    }
    h3 {
      font-family: 'Lato',sans-serif;
      font-weight: 300;
      text-align: center;
      text-transform: none;
      font-style: italic;
      font-size: 20px;
      line-height: 1.4em;
      margin-bottom: 20px;
    }
    h4 {
      padding-top: 20px !important;
      font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 100;
      font-size: 22px; 
      letter-spacing: -1px;
    }
    a {
      margin-top: 20px;
    }
}

.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}

.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/*#audiojs_wrapper0 {
    margin: 0 auto;
}*/

.info h3 {
  padding-bottom: 0px;
}

.info h4 {
  padding-bottom: 10px;
  padding-top: 0px
}
  
.info > p {
  color: #717171;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: justify;
}

.info > a {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: all 0.5s ease 0s;
}
.info > a:hover {
  background-color: #0288d1;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: all 0.5s ease 0s;
}
.info > a > span {
  text-decoration: line-through;
}
.info > small {
  padding-top: 5px;
  padding-bottom: 15px;
  display: block;
  color: #666;
}

.principles {
    a {
      margin-top: 60px;
      text-align: center;
      display: block;
    }
}

footer {	
	padding: 30px 0px;
	background-color: @textColor;
	color: #ffffff;

	.brand {	    
        font-family: @baseFontFamily;	    
	    font-size: @baseFontSize + 4;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 2px;
	    padding: 0;
        margin-top: 10px;
	    margin-left: 0;
	}
}



/* Landing Page Styles */

#join {
  em {
    text-decoration: underline;
  }
  
  .hero {
    .marketing {
      h1.headline {
        padding-top: 30px;
        font-size: 50px;
        line-height: normal;
      }
    }
  }
  .intro {
    h2 {
        font-weight: 400;
        span {
          text-decoration: underline;
        }
    }
    p {
      font-size: 24px;
			font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-weight: 400;
      text-align: center;
      line-height: 1.4em;
    }
    
  }
  .presslogos {
    p {
      text-align: center;
    }
  }
  .episode1 {
    h2 {
      font-weight: 400;
      padding-top: 20px;
      padding-bottom: 20px;
      span {
        text-decoration: underline;
      }
    }
    h3 {
      text-align: center;
      padding-top: 10px;
    }
    p {
      font-size: 22px;
			font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-weight: 400;
      text-align: center;
      line-height: 1.4em;
    } 
    div.player {
      text-align: center;
      padding-bottom: 30px;
    }
  }
  
  .episode2 {
    h2 {
      font-weight: 400;
      padding-top: 20px;
      padding-bottom: 20px;
      span {
        text-decoration: underline;
      }
    }
    h3 {
      text-align: center;
      padding-top: 10px;
    }
    p {
      font-size: 22px;
			font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-weight: 400;
      text-align: center;
      line-height: 1.4em;
    } 
    p.description {
      font-size: 19px;
    }
    img {
      display: block;
      margin-bottom: 30px;
      border: 2px 2px #000;
      padding:1px;
      border:1px solid #FFF;
      background-color:#FFF;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    h1.logo {
      font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, cursive;
      font-style: normal;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      span {
        font-size: 28px;
        padding-left: 2px;
      }
    }
    div.player {
      text-align: center;
      padding-bottom: 30px;
    }
  }  
  
  .close-sale {
    p {
      font-size: 22px;
			font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-style: italic;
      font-weight: 400;
      text-align: center;
      line-height: 1.4em;
    }
    a {
      font-style: normal;
      text-decoration: underline;
    }
    .outlet {
      text-align: center; 
    }
    h2 {
      letter-spacing: 0;
      text-transform: none;
      font-style: italic;
      font-size: 20px;
      font-weight: 300;
      padding: 0px;
      margin: 0px;
    }
    img {
      padding-top: 30px;
    }
  }
}

